  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <%= image_pack_tag("logo.png", alt:"ロゴ画像", id:"rogo-img") %>
          <!--<h1>断捨離できるくん</h1>-->
        </div>
      </div>
    </div>
  </header>

  <hr>
  <div class="main">
    <div class="container top_visual">
      <div id="top_visual_2">
        <%= image_pack_tag("robot.png", alt:"トップ画像", id:"top-img") %>
      </div>
      <div id="top_visual_3">
        <p>ボクに任せて !</p>
        <p>質問に答えるだけで<br>カンタンに断捨離できるよ</p>
        <p class="btn btn-primary top-btn">さっそく始める</p>
      </div>
    </div>
  </div>
  
  <hr>
  <div class="container question">
    <h2>断捨離したいものは？</h2>
      <div class="items">
        <% @items.each_with_index do |item, i| %> 
          <div class="item">
            <p><%= link_to item, "#" %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
  
  <div class="container">
    <footer>
      <p>&copy; 断捨離できるくん</p>
    </footer>
  </div>
