<div class="container">
  <div class="registration-container">
    <h2 class="registration-head">利用規約</h2>
  
    <div class="registration-form">
      <div class="single-content">
      <p>
        本Webサービスでは、LINE、facebookによる認証画面にて許可を頂いた場合のみメールアドレスを取得します。<br>
        取得されたメールアドレスにつきましては、以下の目的以外では使用いたしません。
        <ul>
          <li>ユーザーIDとしてアカウントの管理に利用</li>
        </ul>
      </p>
    </div>
  </div>
</div>
