<p><%= @email %>様</p>
<p>断捨離できるくんをご利用いただきありがとうございます。</p>
<p>ご利用のパスワードを変更するには、下記のリンクをクリックしてください。</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

<small>
  ※上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。<br>
  ※当メールは送信専用メールアドレスから配信されています。このままご返信いただいてもお答えできませんのでご了承ください。<br>
  ※当メールに心当たりの無い場合は、誠に恐れ入りますが、破棄していただきますようお願いいたします。
</small>
